.banner_poster {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
    width: 40rem;
    margin-right: 10px;
    }
    
.banner_posters {
     display: flex;
}

.banner_titles {
    display: flex;
}
